/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/**
 * These styles are used for DEMO purpose only.
 */
*,
:after,
:before {
  box-sizing: border-box;
}


p, ul, li {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Roboto Serif', serif;


}

.section {
  height: auto;
  width: 100%;
  padding: 6rem 8rem 6rem 8rem;
}

/* titulos */
h2 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  overflow: hidden;
}

h5 {
  font-size: 2.5rem;
  padding-bottom: 4rem;
  overflow: hidden;
}

/* fin titulos */

.jarallax {
  height: 100vh;
  width: 100%;
  max-height: 60rem;
  min-height: 40rem;
}

.portada-video {

  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0.4);


}

.logo{
  width: 20vw;
}


.text-center{
  text-align: center;
}

.text-light{
  text-align: justify;
}

.portada-texto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
 


}


.carousel .carousel-item {
  height: 100vh;
  overflow: hidden;
}



.img-carrusel {

  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(0.3);
  background-color: black;

}


.carousel-caption {
  text-align: start;
}



.carousel-control-prev,
.carousel-control-next {

  height: 10vh;
  width: 10vh;
  top: 40%;
  margin: 0 2rem 0 2rem;
}



.carousel-caption {
 
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  height: 75%;
  text-align: center;

  color: #fff;

  margin-bottom: 0;
}
/* mobile */

@media (max-width: 600px) {
 
  .logo{
    width: 50vw;
  }

  .section {
    height: auto;
    width: 100%;
    padding: 6rem 1rem 6rem 1rem;
  }

  h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 4rem;
    overflow: hidden;
  }

  h5 {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    overflow: hidden;
  }
  

  p {
    font-size: 1rem;
  }

  .carousel .carousel-item {
    height: 70vh;
  }

  /* texto carrusel */
  .carousel-caption p {
    font-size: 0.7rem;
  }



  .carousel-caption {
    position: absolute;
    right: 0;
    left: 0;

    margin: 0 1rem 0 1rem;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    height: 75%;
    text-align: center;

    color: #fff;

    margin-bottom: 0;
  }



}